# Copy this file to the ignored `.bazelrc.user` file for machine-specific
# settings.

# Use more local build jobs:
#
#   build --jobs=8

# Point the remote configuration at another executor:
#
#   build:remote --remote_executor=grpc://localhost:8980
#   build:remote --remote_cache=grpc://localhost:8980
#   build:remote --bes_backend=
